/*
todo

[] do the slider part
[] make sure all fonts change with breakpoints
[x] change grid so that instead of resizing, the 
    columns are fixed width and pop into new cols as the
    width of the page can accommodate the space
[] refine breakpoints
[] accessibility checker
[] clean up and update readme, write down learnings
[] final pass 
*/

/*custom variable to be used as a macro in the other css definitions*/
html {
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 62.5%;
    
    --white: #FFFFFF;
    --black: #030303;
    --medium-brown: #7A746E;
    --light-cream: #FFF7F0;
    --galactic-blue: #755CDE;
    --summer-yellow: #F6A560;
    --pink: #F39E9E;
    --light-red: #EB7565;
    --cyan: #61C4B7;
    --dark-purple: #552049;

    /* Default values for mobile. Tablet and desktop will be overridden. */
    --heading-large-size: 5.6rem;
    --heading-medium-size: 4.0rem;
    --heading-small-size: 3.2rem;
    --body-size: 1.8rem;
    --body-line-height: 2.8rem;
}

/* desktop - tablet - mobile
H1 L(56)   - 44 - 36
H2 M(40)   - S  - 26
H3 S(32)   - S  - 24
H4 M(40)   - S  - 26

*/

/* mobile */
h1 {
    font-size: 3.6rem;
}

h2 {
    font-size: 2.6rem;
}

.my-work h2 {
    font-size: 2.4rem;
}

/* tablet - todo: update breakpoint */
@media screen and (min-width: 401) and (max-width: 800) {
    h1 {
        font-size: 4.4rem;
    }
    
    h2 {
        font-size: var(--heading-small-size);
    }
}

/* desktop */
@media screen and (min-width: 801) {
    h1 {
        font-size: var(--heading-large-size);
    }
    
    h2 {
        font-size: var(--heading-medium-size);
    }

    .my-work h2 {
        font-size: var(--heading-small-size);
    }
}

body {
    font-weight: 500;
    background-color: var(--light-cream);
    margin-left: 8px;
    margin-right: 8px;
    color: var(--medium-brown);
    
    min-width: 343px; /* for development only */
    max-width: 1174px;
    margin: auto; 
}

p {
    font-size: 1.8rem;
    line-height: var(--body-line-height);
    margin: 2.4rem 0;
}

section {
    /* Vertical margin in rem to scale with font size  */
    /* Horizontal margin in px to not squeeze text as font size grows */
    margin: 3.2rem 32px;
    text-align: center;
}

h1,h2 {
    color: var(--black);
}

h1 {
    text-align: center;
    margin: 0 0 1.6rem 0;
    min-width: 288px;
}

img.logo {
    height: 4.8rem;
    width: 4.8rem;
}

button.consultation {
    color: var(--light-cream);
    background-color: var(--light-red);
    height: 4.4rem;
    width: 17.6rem;
    border: none;
    border-radius: 28px;
    font-weight: bold;
}

nav button.consultation {
    background-color: var(--black);
}

nav {
    display: flex;
    justify-content: space-between;
    margin: 1.6rem;
}

/* intro */

section.intro p {
    margin: 0 13px 0 13px;
}

/* slides */

section.slides-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, 160px 160px);
    grid-template-rows: repeat(auto-fill,  182px 158px);
    gap: 30px ;
    justify-content: center;
    grid-auto-rows: 182px;
}

.grid-slide {
    /* border: solid black; */
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    background-color: var(--galactic-blue);
    padding: 24px;
}

.grid-slide img {
    max-height: 50%;
    max-width: 50%;
}

.grid-slide span {
    color: var(--white);
    font-size: 2.4rem;
}

.grid-slide-1 {
    grid-row: span 2;
    grid-column: span 2;
}

.grid-slide-2 {
    background-color: var(--summer-yellow);
}

.grid-slide-3 {
    background-color: var(--pink);
}

.grid-slide-4 {
    background-color: var(--light-red);
}

.grid-slide-5 {
    background-color: var(--cyan);
}

.grid-slide-6 {
    background-color: var(--dark-purple);
}

.grid-slide-4,.grid-slide-5,.grid-slide-6 {
    grid-column: span 2;
}

.grid-slide span {
    align-self: flex-start;
    color: var(--white);
}

/* amy */

section.amy {
    display: flex;
    flex-direction: column;
    margin: 100px 0 100px 0;
}

.amy-photo {
    display: flex;
    /* flex-direction: column;
    flex-wrap: wrap; */
    /* width: 10px; */
    padding: 38px;
    min-width: 300px;
}

.amy-description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* book-a-call */
section.book-a-call {
    background-color: var(--black);
    color: var(--white);
    border-radius: 10px;
    padding: 24px;
    margin: 0;
}

.book-a-call h2 {
    color: white;
}